In [ ]:
import numpy as np # linear algebra
import pandas as pd 
import matplotlib.pyplot as plt
import csv
import sys

In [ ]:
population = pd.read_csv('/content/WPP2019_TotalPopulationBySex.csv',encoding='cp1252')
population.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
0,4,Afghanistan,2.0,Medium,1950.0,1950.5,4099.243,3652.874,7752.117,11.874
1,4,Afghanistan,2.0,Medium,1951.0,1951.5,4134.756,3705.395,7840.151,12.009
2,4,Afghanistan,2.0,Medium,1952.0,1952.5,4174.450,3761.546,7935.996,12.156
3,4,Afghanistan,2.0,Medium,1953.0,1953.5,4218.336,3821.348,8039.684,12.315
4,4,Afghanistan,2.0,Medium,1954.0,1954.5,4266.484,3884.832,8151.316,12.486

In [ ]:
population = population.loc[population.Variant == 'Medium']
population.drop(['VarID','MidPeriod','Variant'],inplace=True,axis=1)
population.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   LocID     Location    Time   PopMale  PopFemale  PopTotal  PopDensity
0      4  Afghanistan  1950.0  4099.243   3652.874  7752.117      11.874
1      4  Afghanistan  1951.0  4134.756   3705.395  7840.151      12.009
2      4  Afghanistan  1952.0  4174.450   3761.546  7935.996      12.156
3      4  Afghanistan  1953.0  4218.336   3821.348  8039.684      12.315
4      4  Afghanistan  1954.0  4266.484   3884.832  8151.316      12.486

In [ ]:
mask=False
for col in population.columns:
   mask=mask|population[col].isnull()
datanulls=population[mask]

In [ ]:
population.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

       LocID     Location    Time    PopMale  PopFemale   PopTotal  PopDensity
0          4  Afghanistan  1950.0   4099.243   3652.874   7752.117      11.874
1          4  Afghanistan  1951.0   4134.756   3705.395   7840.151      12.009
2          4  Afghanistan  1952.0   4174.450   3761.546   7935.996      12.156
3          4  Afghanistan  1953.0   4218.336   3821.348   8039.684      12.315
4          4  Afghanistan  1954.0   4266.484   3884.832   8151.316      12.486
...      ...          ...     ...        ...        ...        ...         ...
13450     36    Australia  2096.0  20903.511  21170.497  42074.008       5.477
13451     36    Australia  2097.0  21003.988  21272.924  42276.912       5.503
13452     36    Australia  2098.0  21103.786  21374.876  42478.662       5.529
13453     36    Australia  2099.0  21202.655  21476.146  42678.801       5.555
13454     36    Australia  2100.0  21300.297  21576.477  42876.774       5.581

[3473 rows x 7 columns]

In [ ]:

population = population.loc[(population.Time > 1960) & (population.Time < 2020)]
population.to_csv('TotalPopulation.csv')
population.head()

    LocID     Location    Time   PopMale  PopFemale  PopTotal  PopDensity
11      4  Afghanistan  1961.0  4730.250   4439.156  9169.406      14.045
12      4  Afghanistan  1962.0  4816.050   4535.392  9351.442      14.324
13      4  Afghanistan  1963.0  4907.030   4636.170  9543.200      14.618
14      4  Afghanistan  1964.0  5003.245   4741.527  9744.772      14.926
15      4  Afghanistan  1965.0  5104.765   4851.553  9956.318      15.250

In [ ]:
Country_name = ['Location', 'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Aruba', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium','Belize','Benin', 'Bhutan', 'Botswana', 'Brazil', 'Bulgaria', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Caribbean', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Ecuador', 'Egypt', 'Eritrea', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece','Guadeloupe', 'Guatemala', 'Guinea', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan', 'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan', 'Latin America and the Caribbean', 'Latvia', 'Lebanon', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oceania', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Polynesia', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Rwanda', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Tajikistan', 'Thailand', 'Togo', 'Tonga', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']
with open('TotalPopulation.csv', "r") as f:
    data = list(csv.reader(f))
with open('TotalPopulation.csv', "w") as f:
    writer = csv.writer(f)
    for row in data:
        if row: # only use non-empty lines (or use if len(row)>2)
            if row[2] in Country_name:
                  writer.writerow(row)

from google.colab import files
files.download('TotalPopulation.csv')

In [ ]:
new_file=pd.read_csv('/content/TotalPopulation.csv',encoding='cp1252')
new_file.query('Time <= 2008', inplace = True)
new_file.drop(['Unnamed: 0'],axis=1,inplace=True)
new_file.to_csv('Train_data.csv')
from google.colab import files
files.download('Train_data.csv')
new_file_=pd.read_csv('/content/TotalPopulation.csv',encoding='cp1252')
new_file_.query('Time >= 2009', inplace = True)
new_file_.drop(['Unnamed: 0'],axis=1,inplace=True)
new_file_.to_csv('Test_data.csv')
from google.colab import files
files.download('Test_data.csv')